In [2]:
import pandas as pd
from sklearn.linear_model import LinearRegression

energy_set = pd.read_csv("energydata_complete.csv")
energy_set.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [5]:
columns = energy_set.columns
columns

Index(['date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [13]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score


X = energy_set[['T2']]
y= energy_set['T6']
	
model = LinearRegression()
model.fit(X,y)

prediction = model.predict(X)
r_squared = r2_score(y, prediction)
r_squared

0.6418990830855493

In [30]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
import numpy as np

data = energy_set.drop(columns=["date", "lights"])
X = data.drop( columns = ["Appliances"])
y = data["Appliances"]

scaler = MinMaxScaler()
X_normalized = scaler.fit_transform(X)

X_train, X_val, y_train, y_val = train_test_split(X_normalized, y, test_size=0.3, random_state=42)


model = LinearRegression()

# Fitting the linear regression model on the training set
model.fit(X_train, y_train)

# Predicting on the test set
y_pred = model.predict(X_val)

mean_absolute_error(y_val, y_pred)

53.64297765584944

In [26]:
mean_squared_error(y_val, y_pred)

8768.535925051974

In [27]:
r2_score(y_val, y_pred)

0.14890246319303535

In [32]:
# residual sum of square
df = pd.DataFrame({'Actual': y_val, 'Predicted':
y_pred})
  
np.sum(np.square(df['Predicted'] - df['Actual']))

51918501.21223274